@using HotelH2.Controllers
@using Hotel_Rooms.Models;
@model Hotel_Rooms.Models.Rooms;
@{
    ViewData["Title"] = "Cancel";
}

<div>
    <h1 class="display-4 text-center" style="font-weight: bold;">Booking</h>
    <div class="container col-12" style="background-color: lightgray;">
        <form method="post" asp-action="CancelBooking">
            <div style="display: table-caption;" class="fs-5">
                <label for="roomNumber">room number:</label>
                <input class="mb-3" type="number" name="roomNumber" value="@Model.roomNumber" readonly>
                <br>
                <label for="type">type:</label>
                <input class="mb-3" type="text" name="type" value="@Model.type" readonly>
                <br>
                <input class="form-group crudInput" type="submit" value="Cancel">
            </div>
        </form>
    </div>
</div>



